.infoSide {
  background-color: #ccc;
  padding: 3em 0;
  height: 2000px;
  position: fixed;
  left: 0;
  top: 0;
  .authorInfo {
    text-align: center;
    .authorImg {
      border-color: #d4d4d4;
      border-radius: 50%;
      width: 150px;
    }
    .socialLinks {
      margin-top: 3em;
      position: fixed;
      bottom: 0;
      margin: 1em auto;
      width: 25%;
      li {
        a {
          color: black;
          &:hover, &:visited, &:active {
            color: black;
          }
          span {
            background-size: cover;
            display: block;
            float: left;
            height: 18px;
            margin: 0 .5em;
            width: 18px;
          }
        }
      }
    }
    .twitterLink a span{
      background-image: url(../img/twitter.png);
    }
    .githubLink a span{
      background-image: url(../img/github.png);
    }
    .linkedInLink a span{
      background-image: url(../img/linkedin.png);
    }
    .contactLink a span{
      background-image: url(../img/contact.png);
    }
  }
}