@import 'bootstrap';
// Components
@import 'author_info';
@import 'navbar';
@import 'footer';

@import 'posts';

.content {
  margin-left: 25%;
}
.section-title {
  font-weight: bold;
  font-size: 100px;
  padding-left: 7px;
}