@import 'bootstrap';
// Components
@import 'author_info';
@import 'navbar';
@import 'profile';
@import 'footer';

@import 'posts';

body {
  background: #f9f9f9 url(../img/subtle_dots.png) repeat;
}

.content {
  margin-left: 25%;
}

.section-title {
  display: block;
  font-size: 100px;
  font-weight: bold;
  height: 120px;
  overflow: hidden;
  padding-left: 0px;
  width: 60%;
}