/* Text Elements */

.header, .paragraph {
  font-family: 'Roboto', cursive;
  font-variant: small-caps;
}

p.paragraph.paragraph-1 {
  float: right;
  text-align: right;
}

p.paragraph.paragraph-1 span{
  font-size: 1.2em;
  font-weight: bold;
}

span.text-element.text-3 {
  display: block;
  font-style: normal;
  font-size: 18px;
  font-family: 'Roboto', cursive;
}

span.highlight {
  font-weight: bold;
}

p.paragraph {
  margin-bottom: 0px;
}

p.paragraph.paragraph-1 {
  float: right;
  clear: none;
  width: 161px;
  margin-bottom: 3px;
}

p.paragraph-2, p.paragraph-3 {
  text-align: right;
  margin: 0 0 3px 0;
}

p.paragraph-2 a, p.paragraph-2 a:hover {
  color: #373a3c;
  text-decoration: none;
}

.social-image img{
  width: 22px;
}

/* Layout Elements */

body.main-grid {
  display: grid;
  padding-bottom: 10px;
  min-height: 100vh;
  background-color: #eee;
  background-image: url('../img/subtle_dots.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: repeat;

  grid-template-areas: 'header header header header' 'main main main main' 'aside-1 aside-1 aside-1 aside-1' 'aside-2 aside-2 aside-2 aside-2' 'footer footer footer footer';
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: 100px 1fr repeat(3 , 100px);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  background-blend-mode: normal;
}

.container-grid.header {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: transparent;

  grid-area: header;
}

.container-grid {
  margin-right: 0;
  margin-left: 0;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
}

.container-grid.footer {
  display: block;
  float: right;
  padding: 0 30px 0px;
  width: auto;
  background-color: transparent;

  grid-area: footer;
}

.container-grid.container-1 {
  padding-top: 5px;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
}

.container-grid.container-2 {
  float: right;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  min-width: 100px;
  min-height: 80px;
  width: 300px;
  background-color: transparent;
}

@media screen and (min-width: 36rem) {
  /* Layout Elements */

  body.main-grid {
    grid-template-areas: 'header header header header header header' 'main main main main main main' 'aside-1 aside-1 aside-1 aside-2 aside-2 aside-2' 'aside-1 aside-1 aside-1 aside-2 aside-2 aside-2' 'footer footer footer footer footer footer';
    grid-template-columns: repeat(6 , 1fr);
  }
}

@media screen and (min-width: 48rem) {
  /* Layout Elements */

  body.main-grid {
    grid-template-areas: 'header header header header header header' 'main main main main main main' 'aside-1 aside-1 aside-1 aside-2 aside-2 aside-2' 'aside-1 aside-1 aside-1 aside-2 aside-2 aside-2' 'footer footer footer footer footer footer';
    grid-template-columns: repeat(6 , 1fr);
  }
}

@media screen and (min-width: 62rem) {
  /* Layout Elements */

  body.main-grid {
    grid-template-areas: 'header header header header header header' 'main main main main aside-1 aside-1' 'aside-2 aside-2 aside-2 aside-2 aside-1 aside-1' 'aside-2 aside-2 aside-2 aside-2 aside-1 aside-1' 'footer footer footer footer footer footer';
  }
}

@media screen and (min-width: 75rem) {
  /* Layout Elements */

  body.main-grid {
    grid-template-areas: 'header header header header header header header header header header header header' 'aside-1 aside-1 main main main main main main main main aside-2 aside-2' 'aside-1 aside-1 main main main main main main main main aside-2 aside-2' 'aside-1 aside-1 main main main main main main main main aside-2 aside-2' 'footer footer footer footer footer footer footer footer footer footer footer footer';
    grid-template-columns: repeat(12 , 1fr);
  }
}