.categories-list {
  margin: 2em 1.5% 0 1.5%;
  height: 20px;
  li:first-child {
    padding-left: 0px;
  }
  li {
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;
    &.active {
      background-color: #000;
      color: white;
      padding: 3px 30px;
      border-radius: 25px;
    }
  }
}
#blog-posts{
  .post {
    border-bottom: 2px #D4D7D7 solid;
    color: #000;
    float:left;
    margin: 0 1.5%;
    padding: 15px 0px;
    width: 30%;
    &.last {
      width: 97%;
    }
    .post-title {
      color: #000;
      cursor: pointer;
      font-size: 18px;
      font-size: 20px;
      line-height: 1.15em;
    }
    ul {
      font-size: 12px;
      .category-link {
      	cursor: pointer;
      }
    }
  }
}