.posts-searcher{
  height: 120px;
  width: 40%;
  float: right;
  padding-top: 65px;
  vertical-align: middle;
  input {
    border-radius: 5px;
    border: 1px #ccc solid;
    padding: 10px 15px;
    width: 100%;
  }
}
.posts-empty{
  margin-top: 50px;
  font-size: 18px;
}

.categories-list {
  clear: both;
  margin: 50px 0 20px 0;
  height: 20px;
  width: 100%;
  li {
    border-radius: 25px;
    border: 1px #333 solid;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;
    padding: 3px 30px;
    &.active {
      background-color: #333;
      color: white;
    }
  }
}
#blog-posts{
  .post-resume {
    border-bottom: 2px #D4D7D7 solid;
    color: #000;
    float:left;
    margin: 0 1.5%;
    padding: 15px 0px 30px 0;
    width: 30%;
    &.last {
      width: 97%;
    }
    .post-title {
      color: #000;
      cursor: pointer;
      font-size: 18px;
      font-size: 20px;
      line-height: 1.15em;
      margin-bottom: 20px;
    }
    ul {
      font-size: 12px;
      margin-bottom: 20px;
      .category-link {
      	cursor: pointer;
      }
    }
  }
}

.post {
  color: #000;
  float:left;
  margin: 0 1.5%;
  padding: 15px 0;
  width: 97%;
  .post-title {
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-size: 20px;
    line-height: 1.15em;
  }
  ul {
    font-size: 12px;
    .category-link {
      cursor: pointer;
    }
  }
  .post-content {
    .post-imageAttached {
      text-align: center;
    }
  }
  .post-goBack {
    background: white;
    border: 1px #333 solid;
    border-radius: 100px;
    margin-top: 50px;
    padding: 3px 15px;
    transition: background-color 0.5s ease;
    transition: color 0.25s ease;
    &:hover {
      background-color: #333;
      color: white;
    }
  }
}